<a href="https://colab.research.google.com/github/Yuji-github/X_ray-Oject-Detection/blob/main/Slim_yolo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import glob
import shutil
import os
import json
import pandas as pd 
import numpy as np

**Change the location where I want to load**

In [ ]:
%cd /content/drive/MyDrive/YOLO_Custom

/content/drive/MyDrive/YOLO_Custom

In [ ]:
df = pd.read_csv('slim_yolo.csv')

**Removing Unbox Files from Data Frame and All Images Dataset**

In [ ]:
%mkdir UnBox

In [ ]:
unbox = []
for index in range(len(df)): 
  if df.loc[index, 'new_xmax'] + df.loc[index, 'new_ymax'] == 2:     
    unbox.append(df.loc[index, 'id'])
    df.drop(index, inplace=True) # removing from data frame

In [ ]:
unbox = ['/content/drive/MyDrive/YOLO_Custom/Alldata/' + name + '.jpg' for name in unbox] 

for images in unbox:
    shutil.move(images, '/content/drive/MyDrive/YOLO_Custom/UnBox/')

In [ ]:
unbox

In [ ]:
df = df.reset_index()
df = df.drop(columns=['index'])

NameError: ignored

In [ ]:
df

                id  Disease  new_xmin  new_ymin  new_xmax  new_ymax
0     000a312787f2        0  0.398792  0.525315  0.426679  0.716667
1     000a312787f2        0  0.920160  0.506761  0.784909  0.674528
2     0012ff7358bc        0  0.474487  0.313230  0.505635  0.470817
3     0012ff7358bc        0  0.980874  0.474060  0.788520  0.631647
4     001398f4ff4f        2  1.067173  1.015341  0.859112  0.791288
...            ...      ...       ...       ...       ...       ...
7847  ffd9b6cf2961        0  0.412114  0.631370  0.360457  0.657984
7848  ffdc682f7680        0  1.137695  0.516251  0.992839  0.841985
7849  ffdc682f7680        0  0.432292  0.792698  0.391927  0.676752
7850  ffe942c8655f        0  0.388450  0.395903  0.475726  0.631219
7851  ffe942c8655f        0  0.971321  0.430155  0.853204  0.607098

[7852 rows x 6 columns]

In [ ]:
path = '/content/drive/MyDrive/YOLO_Custom/Alldata'
len(os.listdir(path)) # 4293?

4293

**Group by ID's**

In [ ]:
df = df.groupby(['id']).agg(lambda x: x.tolist())

In [ ]:
df = df.reset_index()

In [ ]:
df.head(2)

             id  ...                                  new_ymax
0  000a312787f2  ...  [0.7166666485091745, 0.6745283027522936]
1  0012ff7358bc  ...  [0.4708171226415094, 0.6316472091194968]

[2 rows x 6 columns]

**Change the location where I want to save**

In [ ]:
%mkdir Text

In [ ]:
%cd /content/drive/MyDrive/YOLO_Custom/Text

/content/drive/MyDrive/YOLO_Custom/Text

**Exporting**

In [ ]:
for index in range(len(df)):

  id = df.loc[index, 'id'] 

  save_list = [ df.loc[index, 'Disease'], df.loc[index, 'new_xmin'], df.loc[index, 'new_ymin'], df.loc[index, 'new_xmax'], df.loc[index, 'new_ymax'] ]
  
  save = ''
  df_save = pd.DataFrame(['a', 'b', 'c', 'd', 'e'])

  for a, b, c, d, e in zip(*save_list):
    temp_list = [a, b, c, d, e]
    save +=json.dumps(temp_list).strip('"') #str() used 

  save = save.replace("[", '').replace(",", '').replace(']', "\n")
  
  with open(id + ".txt", "w") as text_file:
    text_file.write(save + '\n')
  
# it takes time around 15min to reflect on google drive !!!

**Checking All files are exported becasue sometimes cannot export well even the code is correctly working**

In [ ]:
data = '/content/drive/MyDrive/YOLO_Custom/Text'
df['id']
if len(df['id']) == len(os.listdir(data)):
  print('okay!!!',len(df['id']),len(os.listdir(data)))
else:
  print('again',len(df['id']),len(os.listdir(data)))

okay!!! 4294 4294